@font-face {
    font-family: 'RussoOne';
    src: url('./fonts/Russo_One/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
